.container
  = form_tag(cars_prices_path, class: 'form-extractor', method: 'GET') do
    %h2.form-extractor-heading.panel Online Data Extractor for Yallamotor
    = url_field_tag 'url', '', class: 'form-control panel', pattern: "http?://.+|https?://.+", placeholder: 'Paste URL here...', required: ''
    %button.btn.btn-lg.btn-primary.btn-block.form-submit{:type => "submit"} Get CSV
