// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin border-radius($topLeft, $topRight, $bottomRight, $bottomLeft)
  -webkit-border-radius: $topLeft $topRight $bottomRight $bottomLeft
  -moz-border-radius: $topLeft $topRight $bottomRight $bottomLeft
  -ms-border-radius: $topLeft $topRight $bottomRight $bottomLeft
  -o-border-radius: $topLeft $topRight $bottomRight $bottomLeft
  border-radius: $topLeft $topRight $bottomRight $bottomLeft

.form-extractor
  max-width: 550px
  padding: 30px
  margin: 10px auto

.display-none
  display: none

#page-loader
  @include border-radius(4px, 4px, 4px, 4px)
  position: fixed
  text-align: center
  height: 120px
  width: 150px
  left: 50%
  top: 50%
  margin-left: -75px
  margin-top: -60px
  z-index: 5000
  background-color: rgba(0,0,0,0.6)
  color: white